{% extends 'base.html' %}

{% block title %}Login - Visionary Vault{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Render the login form fields -->
    <button type="submit" class="btn btn-primary">Login</button>
</form>
    <div class="d-flex justify-content-between mb-3">
        <p class="spacing"><a href="{% url 'register' %}">Don't have an account? Register</a>.</p>
        <p><a href="{% url 'password_reset' %}">Forgot your password? Reset it</a>.</p>
    </div>
{% endblock %}