
form {
    background-color: rgba(246, 227, 217, 0.49);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"], input[type="password"], textarea {
    border-radius: 5px;
    border: 1px solid #3c1312;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}